.comment-container .icon-container {
  width: 30px;
}

.comment-container {
  margin-top: 3px;
}
.comment-container:hover .comment-icon {
  display: inline;
}
.comment-icon {
  display: none;
  right: 10%;
}
.comment-icon:hover svg {
  fill: #fd4a4a;
}
