.login-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vw;
}

#loginForm {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

#loginForm input {
  margin-bottom: 0.5rem;
  padding: 0.5rem 1.5rem;
  font-size: 1.3rem;
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
  text-align: center;
}

.login-header {
  display: flex;
  align-items: center;
}

.login-header .icon-container {
  width: 80px;
}

.login-header h1 {
  display: flex;
}
.login-header h1:before {
  content: ' ';
  height: 45px;
  width: 1.3px;
  margin: 0 1rem;
  background: grey;
}
